*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(244, 238, 240);
}

a{
    text-decoration: none;
}

.container{
    max-width: 66vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
.header_container{
    margin-bottom: 2.8rem;
}
.header_title{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.header_desc{
    max-width: 568px;
    text-align: center;
    color: rgb(93, 57, 126);
    margin: 0 auto;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1,1fr);
}
@media (min-width:650px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width:1080px){
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1340px){
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
}
.card_container{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 12rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_tittle_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(24, 23, 23);
}
.card_title_anchor:hover .card_title{
    color: rgb(67, 67, 194);
}
.card_desc{
    color: rgb(113, 98, 126);
    font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.avatar_container{
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 50%;
    background-color: rgb(236, 226, 226);
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
.author_name{
    color: rgb(146, 146, 235);
    font-size: 0.6rem;
}
.author_date{
    color: rgb(206, 196, 196);
    font-size: 0.6rem;
}
.card_tag_container{
    font-size: 0.6rem;
    border: 1px solid rgb(75, 71, 71);
    border-radius: 2px;
    line-height: 1.3rem;
    color: rgb(151, 141, 141);
    padding: 0.25rem 0.6rem;
}
